[Unit]
Description=Timer para backup diário do banco Estoque às 03:00
Requires=backup.service

[Timer]
OnCalendar=daily *-*-* 03:00:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
